@media only screen and(max-width: 1110px) {
  body {
    background-size: 150%;
  }

  .pageTitle {
    margin: 100px 0 120px 20px;
    padding: 0 20px;
    transition: 200ms;
  }

  .wave-solid {
    background-position-y: 240px;
    transition: 200ms;
  }
  .wave-transparent {
    background-position-y: 233px;
    transition: 200ms;
  }
}

@media only screen and(max-width: 830px) {
  .pageTitle {
    h1 {
      margin-top: 20px;
      @include calcRem(40);
    }
    h2 {
      @include calcRem(22);
    }
    margin-top: 80px;
    margin-left: 0;
  }

  .projects {
    display: block;
    a img {
      max-width: 100%;
    }
    .projectDetails {
      padding-left: 0;
      p:nth-child(5) {
        margin-top: unset;
      }
    }
  }

  .content {
    padding-left: 20px;
  }
  .wave-solid {
    background-position-y: 170px;
  }
  .wave-transparent {
    background-position-y: 163px;
  }
}

@media only screen and(max-width: 540px) {
  .navigation {
    img {
      max-width: 30px;
    }

    ul {
      li {
        margin: 0 10px;
      }
      a {
        @include calcRem(18);
      }
    }
  }

  .pageTitle {
    margin: 45px 0 65px 0;
    padding-left: 20px;
    max-width: 200px;
    h1 {
      @include calcRem(35);
    }

    h2 {
      max-width: 170px;
      @include calcRem(16);
    }
  }

  .wave-solid {
    background-position-y: 140px;
  }
  .wave-transparent {
    background-position-y: 133px;
  }

  .content {
    .title {
      h2 {
        @include calcRem(24);
      }
    }

    .projects,
    .about,
    .cv,
    .contact {
      img {
        min-width: unset;
      }
      h3 {
        @include calcRem(18);
        margin-top: 10px;
      }

      p,
      label,
      input,
      textarea,
      span {
        @include calcRem(16);
      }

      .gitLink {
        &:hover .linkLine {
          width: 75px;
          transition: 200ms ease-out;
        }
      }
    }
  }
}

@media only screen and(max-width: 470px) {
  .resume {
    .large-box {
      .location {
        position: relative;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .resume {
    .medium-box:nth-child(2) {
      margin-left: 0;
    }
  }
}
