@media only screen and(max-width: 1000px) {
  body {
    background-size: 150%;
  }

  .pageTitle {
    margin-left: 20px;
    padding: 0 20px;
    margin-bottom: 110px;
    transition: 200ms;
  }

  .wave-solid {
    background-position-y: 240px;
    transition: 200ms;
  }
  .wave-transparent {
    background-position-y: 233px;
    transition: 200ms;
  }
}

@media only screen and(max-width: 680px) {
  .navigation {
    transition: 200ms;
    img {
      max-width: 30px;
      transition: 200ms;
    }

    ul {
      li {
        margin: 0 20px;
        transition: 200ms;
      }
      a {
        @include calcRem(20);
      }
    }
  }

  .pageTitle {
    margin-left: 0;
    margin-bottom: 100px;
    h1 {
      @include calcRem(45);
      transition: 200ms;
    }

    h2 {
      max-width: 180px;
      @include calcRem(18);
      transition: 200ms;
    }
  }

  .projects {
    display: block;
    .projectDetails {
      padding-left: 0;
      p:nth-child(5) {
        margin-top: unset;
      }
    }
  }

  .wave-solid {
    background-position-y: 190px;
  }
  .wave-transparent {
    background-position-y: 183px;
  }

  .content {
    padding-left: 20px;
  }
}

@media only screen and(max-width: 540px) {
  .navigation {
    img {
      max-width: 30px;
    }

    ul {
      li {
        margin: 0 10px;
      }
      a {
        @include calcRem(18);
      }
    }
  }

  .pageTitle {
    margin-left: 0;
    padding-left: 20px;
    margin-bottom: 65px;
    max-width: 200px;
    h1 {
      @include calcRem(35);
    }

    h2 {
      max-width: 170px;
      @include calcRem(16);
    }
  }

  .wave-solid {
    background-position-y: 140px;
  }
  .wave-transparent {
    background-position-y: 133px;
  }

  .content {
    .title {
      h2 {
        @include calcRem(24);
      }
    }

    .projects,
    .about,
    .cv,
    .contact {
      img {
        min-width: unset;
      }
      h3 {
        @include calcRem(20);
      }

      p,
      label,
      input,
      textarea,
      span {
        @include calcRem(16);
      }

      .gitLink {
        &:hover .linkLine {
          width: 75px;
          transition: 200ms ease-out;
        }
      }
    }
  }
}
