.pageTitle {
  margin: 130px 0;
  width: 400px;
  color: $theme-white;
  margin-left: 60%;
  padding: 0 20px;
  transition: 200ms;

  h1 {
    @include calcRem(64);
    font-weight: 100;
    margin: -20px 0 0;
    animation: intro-content 1.5s;
  }

  h2 {
    @include calcRem(24);
    max-width: 250px;
    margin-top: -5px;
    font-weight: 200;
    animation: intro-subheader 2s;
  }
}
