.wave-solid,
.wave-transparent {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image: url("./../../images/wave-solid.svg");
  background-size: 101%;
  background-position-y: 240px;
  background-repeat: no-repeat;
}
.wave-transparent {
  background-image: url("./../../images/wave-transparent.svg");
  background-position-y: 233px;
  animation: intro-wave 2s;

  @keyframes intro-wave {
    0% {
      background-position-y: 290px;
    }

    100% {
      background-position-y: 233px;
    }
  }
}
